.InsightsDatePicker .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  @apply bg-primary-light text-white
}

.InsightsDatePicker .DayPicker-Day {
  border-radius: 0 !important;
}

.InsightsDatePicker .DayPicker-Day--start:not(.DayPicker-Day--outside) {
  background-color: #3d883d !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.InsightsDatePicker .DayPicker-Day--end:not(.DayPicker-Day--outside) {
  background-color: #3d883d !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.InsightsDatePicker .DayPicker-Day--today {
  @apply text-primary
}

.InsightsDatePickerOverlayWrapper {
  @apply z-50 shadow-md
}