html {
  background: #f1f5f8;
}

body {
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, p, input, textarea, select, button {
  color: #43484D;
}

div {
  line-height: 1.15;
}

.anchor-section:before {
  display: block;
  content: ' ';
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
